footer {
    background-color: var(--light-tertiary-color);
    border-radius: 16px;
  }
  
  footer .footer__content {
    text-align: center;
    padding: 96px 32px 16px;
    max-width: 752px;
  }
  
  footer .footer__content .footer__contact span {
    display: block;
    font-weight: 500;
  }
  
  footer .footer__content ul li {
    display: inline-block;
  }
  
  footer .footer__content ul a {
    display: inline-block;
    padding: 16px;
  }
  
  footer .footer__content .footer__copyright {
    font-size: 1.4rem;
  }