.roblox {
    width: 50px;
    height: 50px;
  }

.desenvolvedor {
  width: 50px;
  height: 50px;
  }

.ingles {
  width: 68px;
  height: 40px;
  }

.modelagem {
  width: 50px;
  height: 50px;
  }

.implantacao {
  width: 50px;
  height: 50px;
  }

.instagram {
  width: 50px;
  height: 50px;
  }

.linkedin {
  width: 67px;
  height: 50px;
  }

.github {
  width: 45px;
  height: 45px;
  }

.enigma {
  width: 200px;
  height: 200px;
  }

.cara {
  width: 200px;
  height: 200px;
  }

.livro {
  width: 200px;
  height: 200px;
  }

.meme {
  width: 270px;
  height: 200px;
  }

.circuito {
  width: 200px;
  height: 200px;
  }

.organica {
  width: 200px;
  height: 200px;
  }

.corrente {
  width: 200px;
  height: 200px;
  } 

.angulos {
  width: 200px;
  height: 200px;
  }
  
.casouso {
  width: 200px;
  height: 200px;
  } 

.calc {
  width: 200px;
  height: 200px;
  } 

.cadastrolivro {
  width: 200px;
  height: 200px;
  } 


